# Byte-compiled / Python cache
__pycache__/
*.py[cod]

# Databricks & Jupyter checkpoints
.ipynb_checkpoints/
.databricks/

# Optioneel: verberg ruwe .fit bestanden als deze persoonlijke GPS-data bevatten
# fit_bestanden/*.fit

# Besturingssysteem bestanden
.DS_Store
Thumbs.db