# Byte-compiled / Python cache
__pycache__/
*.py[cod]

# Databricks & Jupyter checkpoints
.ipynb_checkpoints/
.databricks/

# Verberg ruwe .fit bestanden
*.fit

# Besturingssysteem bestanden
.DS_Store
Thumbs.db